body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    background-color: rgb(34, 31, 31);
   
  }
  @media screen and (min-width: 768px) and (max-width: 1000px){
    body {
        width: 160.5%;   
    }
    
    body header {
        
        
        display: flex;
        height: 500px;
    }
    body header a {
        font-size: 2vh;
        
    }

    body header img {
        align-items: center;
        justify-content: space-between;
        height: 200px;
        position: absolute;
        top: -1%;
    }
    body .card-front {
        height: 1400px;
        width: 1000px;
        margin-top: -80%;
        margin-left: -23%;
    }
    body header .botao {
        position: absolute;
        margin-left: -106%;
        margin-top: 10%;
        height: 120px;
        width: 500px;
        font-size: 2vh;
    }
    body .card-back {
        height: 1400px;
        width: 1000px;
        margin-top: -80%;
        margin-left: -23%;
        
    }
    body .card-back h2 {
        font-size: 3vh;
    }
    body .card-back span {
        font-size: 2vh;
    }

    body main video {
        height: 2200px;
    }

    body .pe {
        height: 645px;
        width: 1550px;
    }
    body .pe a {
        font-size: 2vh;
    }
    body .pe .button {
        height: 120px;
        width: 500px;
        position: absolute;
        margin-left: -63%;
        margin-top: -15%;
        font-size: 2vh;
    }
    body main .botaozin {
        height: 180px;
        width: 800px;
        margin-left: 30%;
        margin-top: 15%;
        font-size: 4vh;
    }
  }
  .endou {
    height: 400px;
  }
  .card {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 300px;
    transform: translate(-50%, -50%);
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
  }

  .card:hover .card-front {
    transform: rotateX(-180deg);
  }

  .card:hover .card-back {
    transform: rotate(0deg);
  }

  .card-front {
    height: 100%;
    width: 100%;
    background: url("Design/endou.png") no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffbf5e;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
    border-radius: 10%;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.52);
  }

  .card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffbf5e;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 10%;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.52);
  }

  .card-back h2 {
    font-size: 20px;
  }

  .card-back span {
    font-size: 14px;
    font-weight: lighter;
  }

  main video {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: inherit;
    object-fit: cover;
    opacity: 70%;
  }
  header {
    background-color: rgb(34, 31, 31);
    height: 12vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
  }

  header img {
    height: 80px;
    border-radius: 50%;
  }

  header a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
  }
  .botao {
    height: 2rem;
    width: 15rem;
    border: 3px solid orange;
    background: transparent;
    color: white;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }

  .botao::before,
  .botao::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: 0.5s ease;
  }
  .botao::before {
    left: -15px;
    top: -15px;
    border-width: 3px 0 0 3px;
  }
  .botao::after {
    right: -15px;
    bottom: -15px;
    border-width: 0 3px 3px 0;
  }

  .botao:hover::after,
  .botao:hover::before {
    width: calc(100% + 27px);
    height: calc(100% + 27px);
  }

  .pe {
    background-color: rgb(34, 31, 31);
    height: 120px;
    margin-top: -5px;
    border: 3px solid orange;
    position: relative;

    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: none;
  }

  .pe a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 14px;
  }
  .button {
    height: 2rem;
    width: 15rem;
    border: 3px solid rgb(0, 195, 255);
    background: transparent;
    color: white;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 18px;
  }

  .button::before,
  .button::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: 0.5s ease;
  }
  .button::before {
    left: -15px;
    top: -15px;
    border-width: 3px 0 0 3px;
  }
  .button::after {
    right: -15px;
    bottom: -15px;
    border-width: 0 3px 3px 0;
  }

  .button:hover::after,
  .button:hover::before {
    width: calc(100% + 27px);
    height: calc(100% + 27px);
  }

  .botaozin {
    margin: 0;

    position: absolute;
    top: 100%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  .botaozin {
    height: 3rem;
    width: 20rem;
    border: 3px solid rgb(255, 174, 0);
    background: rgb(255, 72, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 18px;
  }

  .botaozin::before,
  .botaozin::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: inherit;
    transition: 0.5s ease;
  }
  .botaozin::before {
    left: -15px;
    top: -15px;
    border-width: 3px 0 0 3px;
  }
  .botaozin::after {
    right: -15px;
    bottom: -15px;
    border-width: 0 3px 3px 0;
  }

  .botaozin:hover::after,
  .botaozin:hover::before {
    width: calc(100% + 27px);
    height: calc(100% + 27px);
  }
